body{
	background: #f2f2f2;
}


.or{
	margin-top: 80px;
	
	width: 80%;
}

header nav a:hover{
	background: #f2f2f2;
	color:#000;
}

nav{
	position: fixed;
	width: 100%;
	top:0;
}

.v:hover{
	background:#000;
	color: #fff;
}

.nav_bar{
	background: #000;
}

.op:hover{
	color: #fff;
}

.oa{
	position: relative;
	top: 80px;
}

.oa:hover{
	background: #000;
}

.enca{
	width: 30%;
	display: block;
	margin: auto;
}

.image{
	width: 95%;
}

#name{
	width: 95%;
	background: #000;
	font-size: 200%;
	text-align: center;
	color: #f2f2f2;
	padding-top: 10px;
	padding-bottom: 10px;
}

#frase{
	font-size: 180%;
	padding-top: 0px;
	text-align: center;
	font-weight: bold;
}

#desc{
	text-align: justify;
	font-size: 13pt;
}

.campo{
	font-weight: bold;
}


.hab{
	background: gray

}

.car{
	width: 100%;
	padding: 6%;
	margin: auto;
}

img.icar{
	width: 100%;
}

.espa{
	margin-top: 60px;
}

	footer div div a{
		text-decoration:none;
		color: #fff;
		font-size: 30pt;
		display: inline-block;
		margin-right: 15px;
		margin-top: 20px;
	}

	.icon{
		font-size: 12pt;
		margin-right: 10px;
	}

	#firma{
		width: 120%;
		float: right;
	}

	#fi{
		float: right;
		width: 80%;
	}

	.image{
		display: inline-block;
		width: 30%;
	}

	.imagen_e{
		width: 90%;
	}

	.escudo{
		font-weight: bold;
	}

	.imagea{
		display: inline-block;
		width: 100%;
	}

	.img_card{
		width: 1%;
	}

	.texto{
		width: 68%;
		padding: 2%;
		display: inline-block;

	}

	.derecha{
		float: right;
	}

	.izquierda{
		float: left;
	}

	.imagen{
		width: 28%;
		display: inline-block;
	}

	.image .imagen_e{
		width: 350%;
	}

	.image .imagen_r{
		width: 240%;
	}

	.image .imagen_g{
		width: 350%;
	}

	.enfrente{
		z-index: 1000;
	}

@media screen and (max-width: 1000px){
	#frase{
		font-size: 16pt;
	}

	#desc{
		font-size: 16px;
	}
}

@media screen and (max-width: 900px){
	.enca{
		margin-left: -25px;
	}

	.car{
		margin-top: 50px;

	}

	.res img{
		width: 60%;
	}

	.hab{
		font-size: 20pt;
	}

	.res{
		width: 110%;
	}

	.encabezado img{
		width: 110%;
		display: block;

	}

	.image{
		margin-right: 20%;
		margin-left: 20%;
	}

	.image img{
		width: 100%;
	}

	.text{
		text-align: center; 
	}

	.one{
		margin-right: -10%;
		float: right;
	}

	.imagea{
		margin-left: 30px;
	}

	#name{
		margin-left: 30px;
		width: 100%;
	}

	.tarjeta{
		margin-left: 10px;
	}

	.texto{
		width: 100%;
	}

	.imagen{
		margin-bottom: 30px;
		width: 100%;
	}

	.image .imagen_e{
		margin-left: -90px;
	}

	.image .imagen_r{
		margin-left: -30px;
	}

	.image .imagen_g{
		width: 250%;
		margin-left: -30px;
	}

	#frase{
		margin-left: 30px;
	}

	#desc{
		margin-left: 30px;
	}
	
}
		

